body { 
    padding-top: 3px; 
}

#alert_placeholder{
    padding: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

div.log {
    height:400px;
    overflow-y:auto;
    font-size: 75%;
}

div.log div.oddline {    
    background-color: #28a4c9;
    color: white;  
    padding: 2px 6px;
    
}

div.log div.evenline {
    background-color: #a6e1ec;
    padding: 2px 6px;
}

.ng-enter {
    /* standard transition code */
    -webkit-transition: 1s linear all;
    transition: 1s linear all;
    opacity:0;
}
.ng-enter-stagger {
    /* this will have a 100ms delay between each successive leave animation */
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;

    /* in case the stagger doesn't work then these two values
     must be set to 0 to avoid an accidental CSS inheritance */
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}
.ng-enter.ng-enter-active {
    /* standard transition styles */
    opacity:1;
}

.ng-leave {
    left:0;
    opacity:1;
}

textarea.to{ 
  height:150px; 
  min-height:150px;  
  max-height:150px;
}

textarea.message{ 
  height:50px; 
  min-height:50px;  
  max-height:50px;
}

input[type=checkbox] {
  /* All browsers except webkit*/
  transform: scale(1.3);

  /* Webkit browsers*/
  -webkit-transform: scale(1.3);
}

